.footer-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
  align-items: center;
  background-color: #161625;
}
.icons-container {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}
